<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nouvelle observation</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="valid()">
        <ion-icon name="checkmark-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment  (ionChange)="segmentChanged($event)" [(ngModel)]="selectedPage">
    <ion-segment-button value="don">
      <ion-icon name="folder-open-outline"></ion-icon>
      <ion-label>Données</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notes">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="loc">
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>Localisation</ion-label>
    </ion-segment-button>
    <ion-segment-button value="imgs">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="padding" color="light">
  <!--DONNEES PRINCIPALES-->
  <div style="height:100%;"  *ngIf="selectedPage === 'don'">
    <ion-list>
      <ion-item>
        <ion-label>Date d'observation</ion-label>
        <ion-datetime-button  datetime="dateObs"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime  [(ngModel)]="obs.dateObs" id="dateObs"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label>Espèce</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.espece">
          <ion-select-option value="" selected="selected"> </ion-select-option>
          <ion-item *ngFor="let enum of enums">
            <ion-select-option  *ngIf="enum.listId=='espece'" value={{enum.id}}>{{enum.value}}</ion-select-option>
          </ion-item>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Détermination</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.determination">
          <ion-select-option value="" selected="selected"> </ion-select-option>
          <ion-item *ngFor="let enum of enums">
            <ion-select-option  *ngIf="enum.listId=='determination'" value={{enum.id}}>{{enum.value}}</ion-select-option>
          </ion-item>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Sexe</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.sexe">
          <ion-select-option value="" selected="selected"> </ion-select-option>
          <ion-item *ngFor="let enum of enums">
            <ion-select-option  *ngIf="enum.listId=='sexe'" value={{enum.id}}>{{enum.value}}</ion-select-option>
          </ion-item>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Animal mort</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.animalMort">
          <ion-item *ngFor="let enum of enums">
            <ion-select-option  *ngIf="enum.listId=='ouinon'" value={{enum.id}}>{{enum.value}}</ion-select-option>
          </ion-item>
        </ion-select>
      </ion-item>
      
      <ion-item  *ngIf="obs.animalMort == 2">
        <ion-label>Date d'échouage</ion-label>
        <ion-datetime-button  datetime="dateEchou"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime  [(ngModel)]="obs.dateEchou" id="dateEchou"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item *ngIf="obs.animalMort == 2">
        <ion-label>Date de renflouage</ion-label>
        <ion-datetime-button  datetime="dateRemf"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime  [(ngModel)]="obs.dateRemf" id="dateRemf"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item  *ngIf="obs.animalMort == 1">
        <ion-label>Date de la mort</ion-label>
        <ion-datetime-button  datetime="dateAnimMort"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime  [(ngModel)]="obs.dateAnimMort" id="dateAnimMort"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item  *ngIf="obs.animalMort == 1">
        <ion-label>Date de découverte</ion-label>
        <ion-datetime-button  datetime="dateDecouv"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime  [(ngModel)]="obs.dateDecouv" id="dateDecouv"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item *ngIf="obs.animalMort == 1">
        <ion-label>Code de décomposition</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.codeDecomp">
          <ion-item *ngFor="let enum of enums">
            <ion-select-option  *ngIf="enum.listId=='decomposition'" value={{enum.id}}>{{enum.value}}</ion-select-option>
          </ion-item>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="obs.animalMort == 2">
        <ion-label>Action</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.action">
          <ion-item *ngFor="let enum of enums">
            <ion-select-option  *ngIf="enum.listId=='actions'" value={{enum.id}}>{{enum.value}}</ion-select-option>
          </ion-item>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="obs.animalMort == 2">
        <ion-label>Commentaires</ion-label>
        <ion-textarea rows="10" [(ngModel)]="obs.comments" placeholder="Saisissez vos commentaires ici..."></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Circonstance</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.circonst">
          <ion-select-option value="" selected="selected"> </ion-select-option>
          <ion-item *ngFor="let enum of enums">
            <ion-select-option  *ngIf="enum.listId=='circonstances'" value={{enum.id}}>{{enum.value}}</ion-select-option>
          </ion-item>
        </ion-select>
      </ion-item>
      <ion-item  *ngIf="obs.circonst == 2">
        <ion-label>Nom de l'informateur</ion-label>
        <ion-input [(ngModel)]="obs.nomInform"></ion-input>
      </ion-item>

      <ion-item-divider></ion-item-divider>
      
      <ion-item>
        <ion-label>Région</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.region">
            <ion-select-option value="" selected="selected"> </ion-select-option>
            <ion-item *ngFor="let enum of enums">
              <ion-select-option  *ngIf="enum.listId=='regions'" value={{enum.id}}>{{enum.value}}</ion-select-option>
            </ion-item>    
        </ion-select>
      </ion-item>
      <ion-item *ngIf="obs.region">
        <ion-label>District</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.district">
        <ion-item *ngFor="let enum of enums">
          <ion-select-option  *ngIf="((enum.listId == 'districts') && (enum.region.id == obs.region))" value={{enum.id}}>{{enum.value}}</ion-select-option>
        </ion-item>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="obs.region">
        <ion-label>Commune</ion-label>
        <ion-select placeholder="Selection" [(ngModel)]="obs.commune">
          <ion-item *ngFor="let enum of enums">
            <ion-select-option  *ngIf="((enum.listId=='commmunes') && (enum.district.id == obs.district))" value={{enum.id}}>{{enum.value}}</ion-select-option>
          </ion-item>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Village</ion-label>
        <ion-input [(ngModel)]="obs.village"></ion-input>
      </ion-item>
      <!--<ion-item-divider>
        Photo
      </ion-item-divider>
      <ion-img [src]="obs.imgSrc" style="height:120px;"></ion-img>
      <ion-button  ion-item expand="block"  (click)="takePict()">Photo</ion-button>-->
      <ion-item-divider>
        
      </ion-item-divider>
      
      
    </ion-list>
  </div>

  <div style="height:100%;"  *ngIf="selectedPage === 'loc'">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="locate-outline" (click)="getGeoloc()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-list>
      
      <ion-item>
        <ion-label>Latitude</ion-label>
        <ion-input [(ngModel)]="obs.lat"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Longitude</ion-label>
        <ion-input [(ngModel)]="obs.long"></ion-input>
      </ion-item>
    </ion-list>
    <capacitor-google-map #map></capacitor-google-map>
  </div>
  <div style="height:100%;"  *ngIf="selectedPage === 'notes'">
    
    <ion-list>
      <ion-item>
        <ion-label>Observations</ion-label>
        <ion-textarea rows="10" [(ngModel)]="obs.observ" placeholder="Saisissez vos observations ici..."></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Animaux</ion-label>
        <ion-textarea rows="10" [(ngModel)]="obs.animaux" placeholder="Saisissez vos détails ici..."></ion-textarea>
      </ion-item>
  </ion-list>
  </div>


  <div style="height:100%;" *ngIf="selectedPage === 'imgs'">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add" (click)="takePict()"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list id="#images">
      <ion-item (click)="showModal()" *ngFor="let i of obs.images">
        <ion-thumbnail slot="start">
          <ion-img [src]="i.webPath" ></ion-img>
        </ion-thumbnail>
      </ion-item> 
    </ion-list>
  </div>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Annuler</ion-button>
          </ion-buttons>
          <ion-title>Mise a jour image</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Valider</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            <ion-label>Titre</ion-label>
            <ion-input ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea rows="10" placeholder="Saisissez votre description ici..."></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Annuler</ion-button>
          </ion-buttons>
          <ion-title>Mise a jour image</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Valider</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            <ion-label>Titre</ion-label>
            <ion-input ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea rows="10" placeholder="Saisissez votre description ici..."></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
