<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-left">
      Authentification
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><p>Veuillez saisir vos informations de connexion</p></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    <form>
      <ion-list>
      <ion-item lines="full">
        <ion-label position="floating">Identifiant</ion-label>
        <ion-input type="text" [(ngModel)]="auth.login" name="login" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" [(ngModel)]="auth.pass" name="pass" required></ion-input>
      </ion-item>
    </ion-list>
      <ion-row>
        <ion-col>
          <!--type="submit" -->
          <ion-button expand="block" (click)="valid()"  >Connexion</ion-button>
          <!--<a [routerLink]="['/forgot-password']" class="small-text">Mot de passe oublié</a>-->
        </ion-col>
      </ion-row>
    </form>
    
</ion-content>