<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="    background-image: url('../../assets/img/waves.png');
background-position: bottom;
background-size: cover;
background-repeat: no-repeat;    --background: unset;">
  <row style="text-align:center">
    <h4>Bienvenue sur l'outil d'observation des Echouages de cétacés</h4>
  </row>
  
</ion-content>
