/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.gmapCss {--background:transparent;}

ion-menu-button { color:#333 }




@font-face {   
    font-family: 'Roboto';    //This is what we are going to call
    src: url('/assets/fonts/roboto/Roboto-Regular.ttf');
  }

  ion-content { 
    font-family:Roboto !important;
  }

  ion-button {
    --color:#333 !important;
  }

  popover-arrow {
    /* Border */
    border: 1px solid #d1d5db;

    /* Used to position the arrow */
    position: relative;
}

.popover-arrow__arrow {
    /* Size */
    height: 0.5rem;
    width: 0.5rem;

    background-color: #fff;
    position: absolute;
}

.popover-arrow__arrow--tl {
    /* Position at the top left corner */
    left: 1rem;
    top: 0;

    /* Border */
    border-left: 1px solid #d1d5db;
    border-top: 1px solid #d1d5db;
    transform: translate(50%, -50%) rotate(45deg);
}

.popover-arrow__arrow--tc {
    /* Position at the top center */
    left: 50%;
    top: 0;

    /* Border */
    border-left: 1px solid #d1d5db;
    border-top: 1px solid #d1d5db;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popover-arrow__arrow--tr {
    /* Position at the top right corner */
    right: 1rem;
    top: 0;

    /* Border */
    border-left: 1px solid #d1d5db;
    border-top: 1px solid #d1d5db;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popover-arrow__arrow--rt {
    /* Position at the right top corner */
    right: 0;
    top: 1rem;

    /* Border */
    border-right: 1px solid #d1d5db;
    border-top: 1px solid #d1d5db;
    transform: translate(50%, 50%) rotate(45deg);
}

.popover-arrow__arrow--rc {
    /* Position at the right center */
    right: 0;
    top: 50%;

    /* Border */
    border-right: 1px solid #d1d5db;
    border-top: 1px solid #d1d5db;
    transform: translate(50%, -50%) rotate(45deg);
}

.popover-arrow__arrow--rb {
    /* Position at the right bottom corner */
    bottom: 1rem;
    right: 0;

    /* Border */
    border-right: 1px solid #d1d5db;
    border-top: 1px solid #d1d5db;
    transform: translate(50%, -50%) rotate(45deg);
}

.popover-arrow__arrow--bl {
    /* Position at the bottom left corner */
    bottom: -0.5rem;
    left: 1rem;

    /* Border */
    border-bottom: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
    transform: translate(50%, -50%) rotate(45deg);
}

.popover-arrow__arrow--bc {
    /* Position at the bottom center */
    bottom: -0.5rem;
    left: 50%;

    /* Border */
    border-bottom: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popover-arrow__arrow--br {
    /* Position at the bottom right corner */
    bottom: -0.5rem;
    right: 1rem;

    /* Border */
    border-bottom: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popover-arrow__arrow--lt {
    /* Position at the left top corner */
    left: 0;
    top: 1rem;

    /* Border */
    border-bottom: 1px solid #d1d5db;
    border-left: 1px solid #d1d5db;
    transform: translate(-50%, 50%) rotate(45deg);
}

.popover-arrow__arrow--lc {
    /* Position at the left center */
    left: 0;
    top: 50%;

    /* Border */
    border-bottom: 1px solid #d1d5db;
    border-left: 1px solid #d1d5db;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popover-arrow__arrow--lb {
    /* Position at the left bottom corner */
    bottom: 1rem;
    left: 0;

    /* Border */
    border-bottom: 1px solid #d1d5db;
    border-left: 1px solid #d1d5db;
    transform: translate(-50%, -50%) rotate(45deg);
}

  .popover-class {
    --offset-y:-50px !important;
    --min-width:300px !important;
    }